:host{
    position: fixed;
    width:100%;
    z-index: 1000;
}
mat-toolbar.user-toolbar {
    justify-content: space-between;
    .profile {
        display: flex;
        align-items: center;
    }
    .user-image {
        height: 40px;
        widows: 40px;
        border-radius: 10px;
    }
    .user-name {
        margin-left: 20px;
    }
    .session-controls {
        margin-left: 20px;
    }
}