<app-current-user></app-current-user>
<div class="gym-select-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Select a gym
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="card-sub-content">
        <div class="card-sub-header">
          Favorite Gyms
        </div>
        <mat-chip-list class="mat-chip-list-stacked">
          <mat-chip color="primary" selected="true" (click)="gymSelected('5a33213bc43cfd05bc10a6e6')">The Front SLC</mat-chip>
          <mat-chip color="primary" selected="true">The Front Ogden (demo)</mat-chip>
          <mat-chip color="primary" selected="true">Momentum Millcreek (demo)</mat-chip>
        </mat-chip-list>
      </div>
      <div class="card-content-divider"></div>
      <div class="card-sub-content">
        <div class="card-sub-header">
          All Gyms
        </div>
        <mat-form-field>
          <mat-select placeholder="Gyms" (selectionChange)="gymSelected($event.value)">
            <mat-option>Select a gym</mat-option>
            <mat-option *ngFor="let gym of gyms|async" [value]="gym._id">
              {{ gym.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
</div>